/* 
.pelicula {
    padding: 10px;
    margin: 5px;
}

.imagen-pelicula {
    width: 100%;
    height: 350px;
}

.contenedor-texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.nombre-pelicula {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    padding: 10px 0px 3px;
    color: #3b5998;
    margin-bottom: 0px;
}

.director-pelicula {
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
    color: #3b5998;
}

.bi {
    color: #f6a700;
}

.release {
  color: #817f7f;
  padding: 5px 0px;
  font-size: 15px;    
}

.texto-pelicula {
    text-align: justify;
    color:#202020;
    font-size: 16px;
    padding: 2px 0px;
}

.score {
  font-size: 15px;
  color: #424242;
} */
