.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    color: #213547;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin-bottom: 10px;
}

.form-button {
    background-color: white;
    color: #213547;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
}

.form-button:hover {
    background-color: #333;
    color: white;
}

